# A2 - Bias in Data

Preston Stringham

# Step 1 - Data Acquisition

In [18]:
import pandas as pd
import matplotlib as plt
import requests

In [342]:
politician_df = pd.read_csv('page_data.csv')
population_df = pd.read_csv('WPDS_2020_data - WPDS_2020_data.csv')

In [3]:
politician_df

                                     page        country     rev_id
0      Template:ZambiaProvincialMinisters         Zambia  235107991
1                          Bir I of Kanem           Chad  355319463
2       Template:Zimbabwe-politician-stub       Zimbabwe  391862046
3         Template:Uganda-politician-stub         Uganda  391862070
4        Template:Namibia-politician-stub        Namibia  391862409
...                                   ...            ...        ...
47192                        Yahya Jammeh         Gambia  807482007
47193                    Lucius Fairchild  United States  807483006
47194                Fahd of Saudi Arabia   Saudi Arabia  807483153
47195                   Francis Fessenden  United States  807483270
47196                     Ajay Kannoujiya          India  807484325

[47197 rows x 3 columns]

In [4]:
population_df

,FIPS,Name,Type,TimeFrame,Data (M),Population
0,WORLD,WORLD,World,2019,7772.850,7772850000
1,AFRICA,AFRICA,Sub-Region,2019,1337.918,1337918000
2,NORTHERN AFRICA,NORTHERN AFRICA,Sub-Region,2019,244.344,244344000
3,DZ,Algeria,Country,2019,44.357,44357000
4,EG,Egypt,Country,2019,100.803,100803000
...,...,...,...,...,...,...
229,WS,Samoa,Country,2019,0.200,200000
230,SB,Solomon Islands,Country,2019,0.715,715000
231,TO,Tonga,Country,2019,0.099,99000
232,TV,Tuvalu,Country,2019,0.010,10000
233,VU,Vanuatu,Country,2019,0.321,321000

# Step 2 - Data Preprocessing

In [5]:
politician_df = politician_df[~politician_df.page.str.contains("Template:")]

In [343]:
population_df = population_df[~population_df['Name'].str.isupper()]

In [ ]:
population_df.to_csv('population_cleaned.csv')

# Stage 3 - Getting Scores

In [13]:
endpoint = 'https://ores.wikimedia.org/v3/scores/enwiki/{revid}/articlequality'

In [20]:
def api_call(endpoint,parameters):
    call = requests.get(endpoint.format(**parameters))
    response = call.json()
    
    return response

In [37]:
parameters = {'revid': '1234'}

In [34]:
politician_df = politician_df.reset_index()

In [60]:
for i in range(len(politician_df.index)):
    rev_id = str(politician_df.at[i, 'rev_id'])
    parameters['revid'] = rev_id
    result = api_call(endpoint, parameters)
    if 'error' in list(result['enwiki']['scores'][rev_id]['articlequality'].keys()):
        politician_df.at[i, 'prediction'] = None
    else:
        politician_df.at[i, 'prediction'] = result['enwiki']['scores'][rev_id]['articlequality']['score']['prediction']

In [61]:
politician_df

,index,page,country,rev_id,prediction
0,1,Bir I of Kanem,Chad,355319463,Stub
1,10,Information Minister of the Palestinian Nation...,Palestinian Territory,393276188,Stub
2,12,Yos Por,Cambodia,393822005,Stub
3,23,Julius Gregr,Czech Republic,395521877,Stub
4,24,Edvard Gregr,Czech Republic,395526568,Stub
...,...,...,...,...,...
46696,47192,Yahya Jammeh,Gambia,807482007,GA
46697,47193,Lucius Fairchild,United States,807483006,C
46698,47194,Fahd of Saudi Arabia,Saudi Arabia,807483153,GA
46699,47195,Francis Fessenden,United States,807483270,C
46700,47196,Ajay Kannoujiya,India,807484325,None

276 articles were not able to be predicted. I output a log of them below.

In [74]:
politician_df[politician_df['prediction'].isna()].to_csv('wp_wpds_countries-no_prediction.csv')

,index,page,country,rev_id,prediction
14,126,List of politicians in Poland,Poland,516633096,None
21,222,Tingtingru,Vanuatu,550682925,None
51,330,Daud Arsala,Afghanistan,627547024,None
75,359,Book:Two Political Biographies,India,636911471,None
180,514,Dilaver Bey,Turkey,669987106,None
...,...,...,...,...,...
46287,46782,John Rose (Trotskyist),United Kingdom,807336308,None
46367,46862,Jalal Movaghar,Iran,807367030,None
46368,46863,Mohsen Movaghar,Iran,807367166,None
46686,47182,King Gutierrez,Philippines,807479587,None
46700,47196,Ajay Kannoujiya,India,807484325,None

In [184]:
politician_df = politician_df.dropna()

In [82]:
population_df = population_df.rename(columns={'Name': 'country'})

In [185]:
join_df = pd.merge(politician_df, population_df, on=['country'], how='outer')

In [179]:
join_df[join_df['country'] == 'United States']

,page,country,rev_id,prediction,Population
2865,Butler-Belmont family,United States,470173494.0,Start,329878000.0
2866,Heard-Hawes family,United States,502721672.0,C,329878000.0
2867,Russell family (American political family),United States,550953646.0,Stub,329878000.0
2868,Read family of Delaware,United States,651856758.0,Stub,329878000.0
2869,National Foundation for Women Legislators,United States,667815878.0,Start,329878000.0
...,...,...,...,...,...
3952,Huey Long,United States,807473939.0,B,329878000.0
3953,Hamilton family,United States,807473969.0,C,329878000.0
3954,Hal Bidlack,United States,807481636.0,C,329878000.0
3955,Lucius Fairchild,United States,807483006.0,C,329878000.0
3956,Francis Fessenden,United States,807483270.0,C,329878000.0

In [186]:
join_df = join_df.drop(['index', 'FIPS', 'TimeFrame', 'Data (M)', 'Type'], axis=1)

In [187]:
no_matches_df = join_df[join_df.isna().any(axis=1) == True]

In [191]:
no_matches_df.to_csv('wp_wpds_countries-no_match.csv')

In [192]:
join_df = join_df.dropna()

In [193]:
join_df = join_df[['country', 'page', 'rev_id', 'prediction', 'Population']]

In [194]:
join_df.columns = ['country', 'article_name', 'revision_id', 'article_quality_est', 'population']

In [153]:
join_df.to_csv('wp_wpds_politicians_by_country.csv')

# Step 4 - Analysis

In [344]:
join_df = pd.read_csv('wp_wpds_politicians_by_country.csv')

In [345]:
pivot_df = pd.pivot_table(join_df,
                             fill_value=0, 
                             columns=['article_quality_est'],
                             aggfunc={
                                 'article_quality_est': len,
                             },
                             index=['country']
                            )
pivot_df.columns = pivot_df.columns.droplevel()

In [346]:
pivot_df = pivot_df.reset_index()

In [347]:
population_df = population_df.rename(columns={'Name' : 'country'})

In [348]:
pivot_analysis = pd.merge(pivot_df, population_df, on='country', how='inner')

In [349]:
pivot_analysis.drop(['Type', 'FIPS', 'Data (M)', 'TimeFrame'], axis=1, inplace=True)

In [350]:
pivot_analysis

                            country   B    C  FA  GA  Start  Stub  Population
0                       Afghanistan   8   46   1  12     99   153    38928000
1                           Albania   3   59   0   3    147   244     2838000
2                           Algeria   3   10   0   2     44    57    44357000
3                           Andorra   0    2   0   0      8    24       82000
4                            Angola   2    6   0   0     23    75    32522000
5               Antigua and Barbuda   0    8   0   0      9     7       98000
6                         Argentina   7   49   8   8    176   243    45377000
7                           Armenia   0   26   2   3     58   104     2956000
8                         Australia   9  175  11  27    433   904    25754000
9                           Austria   4   41   0   3    100   185     8914000
10                       Azerbaijan   1   20   0   2    112    43    10108000
11                          Bahamas   0    4   0   0      9     7      393000
12                          Bahrain   0   10   0   0     17    15     1465000
13                       Bangladesh   6   44   0   3    111   153   169809000
14                         Barbados   0    5   0   0      3     6      287000
15                          Belarus   1   10   2   0     28    31     9375000
16                          Belgium   6   25   0   1    169   318    11515000
17                           Belize   0    4   0   0      8     4      419000
18                            Benin   0   11   3   4     26    47    12209000
19                           Bhutan   0    3   0   2      8    20      730000
20                          Bolivia   1   29   1   0     72    80    11633000
21               Bosnia-Herzegovina   2   27   1   5     66    69     3281000
22                         Botswana   1   11   0   1     30    23     2317000
23                           Brazil   5   33   0   6    118   383   211812000
24                         Bulgaria   3   35   1   2     97    85     6927000
25                     Burkina Faso   3   11   1   1     34    45    20903000
26                          Burundi   0    5   0   1     22    47    11866000
27                         Cambodia   1   23   1   3     34   151    15497000
28                         Cameroon   2   27   0   1     41    31    26598000
29                           Canada  18  179   9  15    371   247    38190000
30                       Cape Verde   1    3   0   0     21    11      556000
31         Central African Republic   1   17   2   6     23    17     4830000
32                             Chad   2   17   0   1     32    44    16877000
33                            Chile   5   56   0   3    122   162    19470000
34                            China  84  204  10  30    372   429  1402385000
35                         Colombia   5   59   0   1    109   111    49444000
36                          Comoros   0    2   0   0     10    39      870000
37                            Congo   4   64   1   0     42    36     5518000
38                       Costa Rica   1    9   0   0     39    98     5111000
39                          Croatia   2   17   0   2     48    93     4020000
40                             Cuba   1   21   1   1     67    80    11281000
41                           Cyprus   0   12   0   1     24    60     1207000
42                          Denmark   2   24   0   4     96   161     5829000
43                         Djibouti   1    9   0   0     15    12      988000
44                         Dominica   0    0   0   1      5     6       72000
45               Dominican Republic   2   14   1   0     32    15    10500000
46                          Ecuador   4   31   0   2     57    88    17511000
47                            Egypt   7   42   6   4     78    97   100803000
48                Equatorial Guinea   0    3   0   1     13    13     1403000
49                          Eritrea   0    2   0   0      2    12     3546000
50                          Estonia   1    9   0   0     47    91     1331000
51                         Ethiopia   4   23   0   2     41    31   114916000
52   Federated States of Micronesia   0    1   0   0     14    21      106000
53                             Fiji   1   10   1   0     49   136      896000
54                          Finland   2   22   0   0    115   430     5529000
55                           France  27  161   2  24    346  1112    64940000
56                    French Guiana   0    2   0   0      5    20      294000
57                            Gabon   4   19   2   2     32    38     2231000
58                           Gambia   1   17   0   2     37    25     2417000
59                          Germany  11   94   9   7    273   294    83300000
60                            Ghana   5   50   2   3    130   200    31073000
61                           Greece   5   36   7   2    107   151    10700000
62                          Grenada   0    4   0   0      9    23      113000
63                       Guadeloupe   0    1   0   0      9    39      375000
64                        Guatemala   0   13   2   5     21    42    18066000
65                           Guinea   1   16   0   3     24    43    12560000
66                    Guinea-Bissau   1    3   0   1      6     9     1927000
67                           Guyana   1    5   0   0      8     6      787000
68                            Haiti   2   34   0   5     54    66    11403000
69                          Hungary   4   40   5   3    173   384     9767000
70                          Iceland   1    9   0   2     42   147      368000
71                            India  11   60   1  12    223   661  1400100000
72                        Indonesia   3   32   2   7     64   101   271739000
73                             Iran  13  106   1  12    214   464    84150000
74                             Iraq   6   28   1   8     84   170    39725000
75                          Ireland  24  116   8  17    137    71     5003000
76                           Israel   8  103   6  14    259   103     9216000
77                            Italy  12   65   3   3    257   480    60296000
78                          Jamaica   0    5   0   2     28    47     2809000
79                            Japan   6   93   2   6     99   231   125967000
80                           Jordan   1    8   0   1     31     7    10679000
81                       Kazakhstan   2   15   0   0     23    38    18732000
82                            Kenya   7   30   1   6     90   242    53528000
83                         Kiribati   0    3   0   0      6    21      125000
84                     Korea, North   1   14   1   7     11     2    25779000
85                     Korea, South   6   38   2   3     96   134    51781000
86                           Kosovo   0    9   0   1     26    10     1791000
87                           Kuwait   0    9   0   1     12    15     4691000
88                       Kyrgyzstan   1   10   0   3     19    37     6594000
89                             Laos   1    3   1   1     16    85     7242000
90                           Latvia   0    9   0   1     19    27     1902000
91                          Lebanon   3   37   2   5     51    88     6825000
92                          Lesotho   0    8   0   0     12     9     2142000
93                          Liberia   0   26   0   2     55    72     5058000
94                            Libya   0   12   1   3     33    61     6891000
95                    Liechtenstein   0    1   0   0     12    15       39000
96                        Lithuania   0    6   0   1     52   185     2794000
97                       Luxembourg   0    3   0   1     67   107      632000
98                       Madagascar   5   14   4   2     26   184    27691000
99                           Malawi   4   22   0   3     42    51    19130000
100                        Malaysia   3   67   3   4    190   121    32781000
101                        Maldives   2   15   0   1     26    39      541000
102                            Mali   0   10   0   4     35    64    20251000
103                           Malta   3   24   0   1     56    17      522000
104                Marshall Islands   0    6   0   0     10    21       57000
105                      Martinique   1    0   0   1      3    29      356000
106                      Mauritania   1    9   1   4     17    16     4650000
107                       Mauritius   0   16   0   1     25    23     1265000
108                          Mexico   5   36   3   7    125   899   127792000
109                         Moldova   3    5   0   0     59   354     3535000
110                          Monaco   0    2   0   0     10    28       38000
111                        Mongolia   3   30   1   2     40    16     3361000
112                      Montenegro   4   10   0   2     25    31      622000
113                         Morocco   4   27   0   1     59   115    35952000
114                      Mozambique   1    9   0   0     14    34    31166000
115                         Myanmar   2   28   0   8     75   123    54704000
116                           Nauru   0   13   0   0     18    21       11000
117                           Nepal   0   24   0   1     55   276    29996000
118                     Netherlands   6   52   1   7    213   421    17467000
119                     New Zealand   2   91   2  11    234   443     4987000
120                       Nicaragua   1   16   1   0     30    66     6596000
121                           Niger   2   24   0   2     26    22    24189000
122                         Nigeria   1   60   0   2    324   289   206140000
123                          Norway   0   36   3   6    152   459     5387000
124                        Pakistan   5   68   0  15    250   681   220940000
125           Palestinian Territory   9   37   1   6     65    61     5008000
126                          Panama   1   18   1   4     43    41     4283000
127                Papua New Guinea   4   36   0   4     73    43     8950000
128                        Paraguay   0   24   1   3     44    74     7255000
129                            Peru   4   19   1   0     83   243    32824000
130                     Philippines   9  104   5  17    178   187   109581000
131                          Poland  14   58   5   8    211   480    38368000
132                        Portugal   8   43   0   1     99   167    10255000
133                           Qatar   4   10   0   3     20    13     2839000
134                         Romania  23   68  28  14     82   128    19241000
135                          Russia  18  157   7  26    325   341   146733000
136                          Rwanda   2   14   1   0     62    25    12952000
137                      San Marino   0    1   0   0     11    69       34000
138           Sao Tome and Principe   0    0   0   0      9    12      210000
139                    Saudi Arabia   7   37   2  13     40    18    35041000
140                         Senegal   1    4   1   1     14    21    16744000
141                          Serbia   2   21   1   3     83   105     6957000
142                      Seychelles   0    1   0   0      4    16       98000
143                    Sierra Leone   0   16   1   1     43   102     7977000
144                       Singapore   1   21   0   5     37     4     5769000
145                        Slovakia   2   13   0   1     34    66     5462000
146                        Slovenia   1    8   0   1     26    20     2103000
147                 Solomon Islands   0   12   0   0     50    35      715000
148                         Somalia   2   54   0   9     77   190    15893000
149                    South Africa   5   57   2   6    149   158    59628000
150                     South Sudan   0    5   0   1     22   104    11194000
151                           Spain  13  100  25  13    297   423    47635000
152                       Sri Lanka   1   22   0  10    107   321    21937000
153                           Sudan   1   16   1   1     31    45    43849000
154                        Suriname   0    5   0   1     19    15      605000
155                          Sweden   5   21   1   3     98   246    10377000
156                     Switzerland   0   15   0   1     91   295     8634000
157                           Syria   2   18   4   6     44    54    19398000
158                          Taiwan   4   43   1  11    171   270    23610000
159                      Tajikistan   0    5   0   1     15    16     9429000
160                        Tanzania   0    6   0   1     42   355    59734000
161                        Thailand   4   31   0   3     49    25    66534000
162                            Togo   3   17   0   1     24    20     8279000
163                           Tonga   1   14   0   0     31    17       99000
164             Trinidad and Tobago   0    7   0   1     13     7     1369000
165                         Tunisia   2   10   0   0     43    83    11896000
166                          Turkey   1   43   0   3    161   139    83737000
167                    Turkmenistan   0    1   0   0      6    25     6031000
168                          Tuvalu   0    6   0   4     34    10       10000
169                          Uganda   1   30   0   1    101    52    45741000
170                         Ukraine  10   68   2  14    136    68    41778000
171            United Arab Emirates   1   12   0   2     22    18     9778000
172                  United Kingdom  21  244  15  41    321   213    67160000
173                   United States  51  280  22  58    384   267   329878000
174                         Uruguay   2   15   0   2     89   177     3531000
175                      Uzbekistan   2    2   1   2     12     9    34174000
176                         Vanuatu   2   11   0   3     24    18      321000
177                       Venezuela   2   16   0   3     47    62    28645000
178                         Vietnam   6   50   7   6     55    63    96209000
179                           Yemen   1   12   1   2     32    68    29826000
180                          Zambia   0    5   0   0     15     5    18384000
181                        Zimbabwe   1   17   1   1     48    95    14863000

In [351]:
full_population_df = pd.read_csv('WPDS_2020_data - WPDS_2020_data.csv')

In [352]:
full_population_df = full_population_df.rename(columns={'Name' : 'country'})

One easy way we can use our data to determine whenther a row is a label for a sub-region is use the 'FIPS' column. Every country is labeled using a two letter label. Every sub-region has a full name i.e. 'North American' so we just need to fill in all the rows below a sub-region label with its corresponding sub-region label.

One of the FIPS rows was NaN, so I simply fill in a value so the logic works correctly.

In [353]:
full_population_df['FIPS'].iloc[62] = 'FF' # One country had NaN FIPS. Had to fix.
current_region = 'NORTHERN AFRICA'
for i in range(3, len(full_population_df.index)):
    if len(full_population_df.at[i, 'FIPS']) == 2 or full_population_df.at[i, 'FIPS'] == None:
        full_population_df.at[i, 'Region'] = current_region
    else:
        current_region = full_population_df.at[i, 'FIPS']

/Users/prestonstringham/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [354]:
region_df = pd.merge(pivot_analysis, full_population_df, on='country', how='outer')

In [355]:
region_df = region_df.drop(['FIPS', 'country', 'Type', 'TimeFrame', 'Data (M)', 'Population_x'], axis=1)

In [356]:
region_df = region_df.groupby(['Region']).sum()

In [357]:
region_df = test_df.rename(columns={'Population_y' : 'Population'})

In [358]:
region_df['articles_per_person'] = (region_df['total_article_count']/test_df['Population'])  * 100
region_df['quality_per_article'] = (region_df['quality_article_count']/test_df['total_article_count']) * 100

In [359]:
region_df = region_df.reset_index()

In [365]:
region_df = region_df.dropna()

In [360]:
pivot_analysis['total_article_count'] = pivot_analysis[['B', 'C', 'GA', 'Start', 'Stub', 'FA']].sum(axis=1)

In [361]:
pivot_analysis['quality_article_count'] = pivot_analysis[['GA', 'FA']].sum(axis=1)

In [362]:
pivot_analysis['articles_per_person'] = (pivot_analysis['total_article_count']/pivot_analysis['Population']) * 100
pivot_analysis['quality_per_article'] = (pivot_analysis['quality_article_count']/pivot_analysis['total_article_count']) * 100

# Step 5 - Results

Top 10 countries by coverage: 10 highest-ranked countries in terms of number of politician articles as a proportion of country population

In [363]:
pivot_analysis[['country', 'articles_per_person', 'Population']].sort_values('articles_per_person', ascending=False).head(10)

                            country  articles_per_person  Population
168                          Tuvalu             0.540000       10000
116                           Nauru             0.472727       11000
137                      San Marino             0.238235       34000
110                          Monaco             0.105263       38000
95                    Liechtenstein             0.071795       39000
104                Marshall Islands             0.064912       57000
163                           Tonga             0.063636       99000
70                          Iceland             0.054620      368000
3                           Andorra             0.041463       82000
52   Federated States of Micronesia             0.033962      106000

Bottom 10 countries by coverage: 10 lowest-ranked countries in terms of number of politician articles as a proportion of country population

In [273]:
pivot_analysis[['country', 'articles_per_person', 'Population']].sort_values('articles_per_person', ascending=True).head(10)

          country  articles_per_person  Population
71          India             0.000069  1400100000
72      Indonesia             0.000077   271739000
34          China             0.000081  1402385000
176    Uzbekistan             0.000082    34174000
51       Ethiopia             0.000088   114916000
181        Zambia             0.000136    18384000
84   Korea, North             0.000140    25779000
162      Thailand             0.000168    66534000
114    Mozambique             0.000186    31166000
13     Bangladesh             0.000187   169809000

Top 10 countries by relative quality: 10 highest-ranked countries in terms of the relative proportion of politician articles that are of GA and FA-quality

In [270]:
pivot_analysis[['country', 'quality_per_article', 'total_article_count']].sort_values('quality_per_article', ascending=False).head(10)

                      country  quality_per_article  total_article_count
84               Korea, North            22.222222                   36
140              Saudi Arabia            12.820513                  117
135                   Romania            12.244898                  343
31   Central African Republic            12.121212                   66
176                Uzbekistan            10.714286                   28
106                Mauritania            10.416667                   48
64                  Guatemala             8.433735                   83
44                   Dominica             8.333333                   12
158                     Syria             7.812500                  128
18                      Benin             7.692308                   91

Bottom 10 countries by relative quality: 10 lowest-ranked countries in terms of the relative proportion of politician articles that are of GA and FA-quality

In [227]:
pivot_analysis[['country', 'quality_per_article']].sort_values('quality_per_article', ascending=True).head(10)

             country  quality_per_article
148  Solomon Islands                  0.0
164            Tonga                  0.0
117            Nauru                  0.0
116          Namibia                  0.0
43          Djibouti                  0.0
114       Mozambique                  0.0
110           Monaco                  0.0
49           Eritrea                  0.0
50           Estonia                  0.0
109          Moldova                  0.0

Geographic regions by coverage: Ranking of geographic regions (in descending order) in terms of the total count of politician articles from countries in each region as a proportion of total regional population

In [366]:
region_df[['Region', 'articles_per_person']].sort_values('articles_per_person', ascending=False)

              Region  articles_per_person
15           OCEANIA             0.003628
5    Channel Islands             0.003555
20   SOUTHERN EUROPE             0.001211
23    WESTERN EUROPE             0.001166
2          CARIBBEAN             0.000808
8     EASTERN EUROPE             0.000639
19   SOUTHERN AFRICA             0.000468
22      WESTERN ASIA             0.000456
3    CENTRAL AMERICA             0.000432
16     SOUTH AMERICA             0.000353
7     EASTERN AFRICA             0.000281
21    WESTERN AFRICA             0.000267
13  NORTHERN AMERICA             0.000258
11     MIDDLE AFRICA             0.000185
12   NORTHERN AFRICA             0.000184
4       CENTRAL ASIA             0.000163
18    SOUTHEAST ASIA             0.000153
17        SOUTH ASIA             0.000111
6          EAST ASIA             0.000075

Geographic regions by coverage: Ranking of geographic regions (in descending order) in terms of the relative proportion of politician articles from countries in each region that are of GA and FA-quality

In [367]:
region_df[['Region', 'quality_per_article']].sort_values('quality_per_article', ascending=False)

              Region  quality_per_article
13  NORTHERN AMERICA             5.470805
18    SOUTHEAST ASIA             3.613861
22      WESTERN ASIA             3.472493
8     EASTERN EUROPE             3.161844
6          EAST ASIA             3.073190
4       CENTRAL ASIA             2.857143
5    Channel Islands             2.710603
11     MIDDLE AFRICA             2.406015
12   NORTHERN AFRICA             2.113459
15           OCEANIA             2.015355
20   SOUTHERN EUROPE             1.994609
2          CARIBBEAN             1.870504
21    WESTERN AFRICA             1.870033
17        SOUTH ASIA             1.626202
3    CENTRAL AMERICA             1.490603
19   SOUTHERN AFRICA             1.419558
7     EASTERN AFRICA             1.398881
16     SOUTH AMERICA             1.319261
23    WESTERN EUROPE             1.228070

# Reflection